.fc {
  width: 370px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 40px 20px;
  background: var(--C_PureWhite);
  border: var(--Border_NG);
  border-radius: var(--R_L);
  box-shadow: var(--Shadow_L);
}

.fc__question-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fc__answer-block {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 20px;
}

.fc__sub-block {
  display: flex;
  gap: 10px;
}