.button {
  width: 100%;
  padding: 14px 0;
  border: none;
  background: var(--C_Blue);
  border-radius: var(--R_F);
  color: var(--C_White);
  cursor: pointer;
  transition: var(--Animation_EI);
}

.button:disabled {
  background: var(--C_LightGrey);
  border: var(--Border_NG);
  color: var(--C_DarkGrey);
  cursor: not-allowed;
}