@import "./tokens.css";
@import "./typography.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255, 255, 255) !important;
  font-family: var(--font-family-primary);
}