.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.navigation__progress {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 6px;
}

.navigation__close-button {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.navigation__close-icon {
  width: 18px;
  height: 18px;
  display: block;
}