.profile-description {
  flex: 1; 
  min-width: 0;   
  display: flex;
  flex-direction: column;
}

.profile-description__name-rank {
  color: var(--C_Black);
}

.profile-description__description {
  color: var(--C_DarkGrey);
}