.answer {
  width: fit-content;
  display: flex;
  padding: 14px 16px;
  background: var(--C_LightGrey);
  border: var(--Border_NG);
  border-radius: var(--R_F);
  transition: var(--Animation_EI);
  cursor: pointer;
}

.answer__text {
  color: var(--C_Black);
}

.answer--disabled {
  cursor: default;

  .answer__text {
  color: var(--C_DarkGrey);
  } 
}

.answer:not(.answer--disabled):hover {
  background: var(--C_Blue);
  border: 1px solid transparent;

  .answer__text {
  color: var(--C_White);
  }
}